@import url('https://fonts.googleapis.com/css?family=Orbitron');


$dark_blue : #0b132b;
$blue : #1c2541;
$light_blue : #3a506b;
$cyan : #5bc0be;
$white: #ffffff;

.App {
  text-align: center;
  background-color: $white;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: $cyan;
  height: 200px;
  padding: 20px;
  color: white;
  margin-bottom: 10px;
  img {
    max-width: 400px;
  }
}

.App-intro {
  font-size: large;
}

@keyframes Loading-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
div.daySelector {
  font-family: 'Orbitron', sans-serif;
  margin-top: 10px;
  color: $blue;
  font-size: 22px;
  div.row {
    text-align: center;
    i {
      cursor: pointer;
    }
  }
}
.game {
  height: 108px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 3px;
  border: 2px solid $blue;
  background: $white;
  div.teamScore {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 5px;
    min-height: 30px;
    img {
      max-width: 25px;
      max-height: 2em;
      display: inline;
      margin-right: 3px;
    }
    h3 {
      font-size: 16px;
      margin: 0px;
      display: inline-block;
      min-width: 35px;
    }
    small {
      font-size: 14px;
    }
    span.logo {
      min-width: 40px;
      display: inline-block;
    }
    strong {
      h3 {
        font-weight: 700;
      }
    }
  }
  p {
    color: $cyan;
    font-weight: 700;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

div.loading {
  img {
    animation: Loading-spin infinite 2s linear;
    margin-top: 125px;
    width: 200px;
    color: $blue;
  }
}
@media only screen and (max-width: 767px) {
  .App-header {
    img {
      width: 200px;
    }
    height: 120px;
  }
  .game {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    div.teamScore {
      text-align: center;
      width: 100px;
      h3 {
        font-size: 14px;
      }
      .visible-xs {
        display: inline-block!important;
      }
    }
  }
}
