@import url('https://fonts.googleapis.com/css?family=Orbitron');


$dark_blue : #0b132b;
$blue : #1c2541;
$light_blue : #3a506b;
$cyan : #5bc0be;
$white: #ffffff;

.App {
  text-align: center;
  background-color: $white;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: $cyan;
  height: 200px;
  padding: 20px;
  color: white;
  margin-bottom: 10px;
  img {
    max-width: 400px;
  }
}

.App-intro {
  font-size: large;
}

@keyframes Loading-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
div.daySelector {
  font-family: 'Orbitron', sans-serif;
  margin-top: 10px;
  color: $blue;
  font-size: 22px;
  div.row {
    text-align: center;
    i {
      cursor: pointer;
    }
  }
}
.game {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  background: $white;
  div.final {
    max-width: 170px!important;
  }
  div.inProgress {
    max-width: 160px!important;
  }
  div.board {
    background-color: $blue;
    padding: 10px;
    height: 145px;
    p {
      color: $cyan;
      font-family: 'Orbitron', sans-serif;
      font-weight: 700;
      font-size: 22px;
      text-align: center;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    h2 {
      color: $white;
      font-family: 'Orbitron', sans-serif;
      img {
        margin-left: 10px;
        margin-right: 10px;
        width: 50px;
      }
    }
  }
  div.matchup {
    text-align: center;
    background-color: $cyan;
    h3 {
      margin-top: 0;
      color: $white;
      font-family: 'Orbitron', sans-serif;
    }
  }
}

div.loading {
  img {
    animation: Loading-spin infinite 2s linear;
    margin-top: 125px;
    width: 200px;
    color: $blue;
  }
}
@media only screen and (max-width: 1200px) {
    .game {
      div.board {
        h2 {
          font-size: 16px;
          img {
            width: 50px;
            margin-left: 5px;
            margin-right: 5px;
          }
        }
      }
    }
}
@media only screen and (max-width: 500px) {
  .App-header {
    background-color: $cyan;
    height: 100px;
    padding: 20px;
    color: white;
    margin-bottom: 10px;
    img {
      max-width: 200px;
    }
  }
  .game {
    div.board {
      height: 120px;
      p {
        font-size: 16px;
      }
      h2 {
        img {
          margin-left: 2px;
          margin-right: 2px;
          width: 30px;
        }
      }
    }
    div.matchup {
      padding-top: 3px;
      padding-bottom: 3px;
      h3 {
        margin: 0;
        font-size: 15px;
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .game {
    div.board {
      height: 75px;
      p {
        font-size: 12px;
      }
      h2 {
        margin-top: 10px;
        font-size: 14px;
        img {
          width: 20px;
        }
      }
    }
  }
}
